.content-main{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80%;
}

.titulo-bienvenida{
    font-family: "Dancing Script", cursive;
    font-size: 48px;
    color: #b44173;
    margin: 0 0 25px 0;
      text-align: center;
}

.carousel {
  max-width: 900px;
  margin: 40px auto;
}

.carousel-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
    margin: 10px;
    border: #b44173 3px solid;

}

@media (max-width: 768px) {

   .titulo-bienvenida{
    font-size: 40px;
  }

  .carousel-img {
    width: 45%;
    height: 250px;
  }
}


@media (max-width: 576px) {

  .titulo-bienvenida{
    font-size: 35px;
  }

  .carousel-img {
    width: 90%;
    height: 250px;
  }
}