.detalle-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    background-color:rgb(183, 136, 197);
    border: 4px solid #b44173;
    border-radius: 10px;
    margin: auto;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    height: auto;
    box-shadow: 20px 20px 10px #b44173;
}
  
.detalle-imagen {
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 30%;
    border: 4px solid #b44173;
    margin-top: 10px;
}
  
.detalle-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: black; 
    font-size: 16px;  
    font-weight: bold;
}

.detalle-info > *{

    margin: 10px 0;
}
  
.detalle-contador {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    justify-content: center;
}
  
.detalle-contador span {
    font-size: 18px;
    color: black;

}

.bot-cont{
     font-size: 16px;              /* Ajustar si era muy grande */
  width: 30px;
  height: 30px;
  background-color: #b44173;
  color: #e0c7f6;
  border: 1px solid #e0c7f6;
  
  display: flex;                /* Alineación vertical y horizontal */
  justify-content: center;
  align-items: center;
  
  line-height: 1;               /* Evita desbordes verticales */
  padding: 0;                   /* Asegura que no haya espacio extra */
}

.boton-card-detalle, .cerrar{
    width: 250px;
    padding: 15px;
    font-size: 16px;
    color: #e0c7f6;
    background-color: #b44173;
    border: 2px solid ;
    border-radius: 20px;
    font-weight: bold;
    margin: auto;
    text-transform: uppercase;
    margin-bottom: 10px;
}
  
.boton-card-detalle:hover{
    color: #b44173;
    background-color: #e0c7f6;
}

.cerrar{
    width: 100px;
    padding: 10px 0;
}
.link-cerrar{
    text-decoration: none;
    color: #e0c7f6;
}


@media only screen and (max-width: 992px) {
    .detalle-container {
        max-width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .detalle-container {
    width: 100vw;            /* Usa todo el ancho de la pantalla */
    max-width: 100%;        /* Asegura que no lo limite */
    margin: 0;               /* Elimina margen lateral */
    box-sizing: border-box; /* Incluye el padding dentro del ancho */
  }

    .detalle-imagen {
        width: 150px;
        height: 150px;
    }

    .boton-card-detalle {
        width: 150px;
        font-size: 12px;
        padding: 8px;
    }

    .cerrar {
        font-size: 12px;
        padding: 8px;
    }

    .bot-cont {
        width: 25px;
        height: 25px;
    }
}